body {
  background-image: url(white-wooden.jpg);
  background-size: cover;
}
h1 {
  color: red;
  background-color: black;
}

header {
  background-color: green;
}

li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
}

h2 {
  color: red;
  border: 3px solid black;
  text-align: center;
}
